.PageLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 40px 20px;
  padding:  4px 20px;

  box-sizing: border-box;

  position: absolute;
  top: 0;
  left: 0;
  
  font-family: "Death Star", monospace;
  
  color: #feda4a;
  &:visited { color: #feda4a;}
  text-decoration: none;

  border: solid 4px #feda4a;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

  h2 {
    text-align: center;
    margin: 0;
    font-size: 64px;
  }

  p {
    text-align: right;
    margin: 0;
    font-size: 36px;
  }
}