.Landing {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  
  overflow: hidden;
  height: 100vh;

  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: center;

  .opening-crawl {
    position: relative;
    top: 100vh;
    transform-origin: 50% 100%;
    animation: crawl 120s linear;
    max-width: 800px;

    h2 {
      margin: 0 0 100px;
      text-transform: uppercase;
    }
    .title {
      font-size: 90%;
      text-align: center;
    }
  }

  .refresh-ico {
    height: 35px;
    width: 35px;
    
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 5;

    filter: invert(.6);

    cursor: pointer;
    transition: .2s;

    &:hover {
      filter: invert(1);
      transform: scale(1.1);
    }
  }

  @keyframes crawl {
    0% {
      top: 130vh;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }
}