.Landing {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  
  // overflow: hidden;
  height: 100vh;

  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: center;

  .opening-crawl {
    position: relative;
    top: 100vh;
    transform-origin: 50% 100%;
    animation: crawl 120s linear;
    max-width: 800px;

    h2 {
      margin: 0 0 100px;
      text-transform: uppercase;
    }
    .title {
      font-size: 90%;
      text-align: center;
    }
  }

  @keyframes crawl {
    0% {
      top: 100vh;
      transform: rotateX(20deg)  translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }
  
  .vader {
    background: url('../../assets/icons.png') no-repeat -352px -254px;
    width: 96px;
    height: 92px;
  }

  .wookie {
	background: url('../../assets/icons.png') no-repeat -42px -83px;
	width: 76px;
	height: 113px;
  }

  .r2d2 {
	background: url('../../assets/icons.png') no-repeat -196px -92px;
	width: 88px;
	height: 96px;
  }

  .c3po {
	background: url('../../assets/icons.png') no-repeat -355px -88px;
	width: 90px;
	height: 96px;
  }

  .bb8 {
    background: url('../../assets/icons.png') no-repeat -526px -76px;
    width: 68px;
    height: 112px;
  }
  .fighter {
    background: url('../../assets/icons.png') no-repeat -674px -96px;
    width: 92px;
    height: 88px;
  }

  .fett {
    background: url('../../assets/icons.png') no-repeat -674px -96px;
    width: 92px;
    height: 88px;
  }

  .trooper {
    background: url('../../assets/icons.png') no-repeat -196px -256px;
    width: 88px;
    height: 88px;
  }

  .wren {
    background: url('../../assets/icons.png') no-repeat -196px -256px;
    width: 88px;
    height: 88px;
  }
}