.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;

  z-index: 200;

  .button-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px 60px;

    font-size: 32px;
    color: #fff;

    cursor: pointer;

    .button {
      width: 100%;
      border: none;
      background: none;

      padding: 0;

      font-size: 32px;
      color: rgb(145, 145, 145); 
      text-decoration: none; 

      transition: .6s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        transition: .3s;
      }

      &.active {
        transform: scale(1.1);
        color: #fff;
      }
    }

    .dot {
      transform: scale(1.1);
      white-space: pre;
      transition: 1s;
    }

    .hidden {
      opacity: 0;
      transition: 1s;
    }
  }
}