@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.App {
  display: grid;
  grid-template-columns: 300px 1fr;

  background: url('./assets/stars.jpg');
  
  min-height: 100vh;
}

.grid-content {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
  grid-gap: 20px;
  padding: 20px;
}